body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 248, 251);
}

.game-conteiner {
    border: 2px solid#080808;
}

canvas {
    display: block;
    border: 1px solid#0a0a0a;
    background-color: black;
}

button {
    margin-top: 20px;
    font-size: 16px;
    background-color: red;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: blueviolet;
}